#formulario{
    width: 30%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 6rem 1fr  ;
    gap: 1rem;
}

#formulario label{
    background-color: blue;

}
#formulario textarea{
    grid-column: 1/3;
}
div{
    width: 100px;
    background-color: brown;
}

